<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SocialMedia</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">SocialMedia</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <!-- You can add more links here -->
        </ul>
      </div>
    </nav>

    <div class="container mt-5 text-center">
      <h1>Welcome to SocialiZE</h1>
      <p>
        This is a  platform where you can connect, share posts, and
        interact with other users.
      </p>
      <p>Ready to get started? Register now or log in to join our community!</p>
      <div class="mt-4">
        <a href="register" class="btn btn-primary mr-3">Register</a>
        <a href="login" class="btn btn-secondary">Login</a>
      </div>

      <div class="mt-5">
        <img
        src="/images/social-media.jpg"
          alt="SocialMedia Image"
          class="img-fluid"
          height="700"
          width="700"
        />
      </div>

    <footer class="bg-primary text-white text-center py-3 position-relative w-100 mt-20">
      <p>SocialiZE 2023 &copy;Oana Grecu All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
